:root{
--main-color: #3c3836;
--sub-color: #786c68;
--accent-color: #69b395;
}
*{
    /* background-color: #292929; */
    
}
#playerTable{
    text-align: center;
    padding:5px;
}
body{
    background-color: var(--main-color);
    /* width:1000px; */
    /* border: dashed rgb(255, 255, 255) 3px; */
    padding:10px;
    margin: 10px;
    max-width: 1000px;
    margin:auto;
}
.container{
    background-color: var(--sub-color);
    /* width:950px; */
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
    /* height:500px; */
}
.tabbed-content{
    background-color: var(--sub-color);
    /* border: dashed rgb(134, 110, 110) 3px; */
    padding: 10px;
    /* height:400px; */
}
header{
    background-color: var(--sub-color);
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
}
footer{
    background-color: var(--sub-color);
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
    height:auto;
}
.flex-container{
    display: flex;
    flex-direction: row;
    /* border: dashed var(--accent-color) 3px; */
    height:150px;
}
.flex-item{
    display: flex;
    flex-direction: column;
    height:100%;
    width: 33%;
    margin:auto;
    /* align-items: center;
    text-align: center; */
    /* border: dashed var(--accent-color) 3px; */
}
.flex-item p{
    background-color: var(--accent-color);
    height:30px;
    width:100%;
    border-radius: 5px;
    text-align: center;
    margin:2px;
}
.menu{
    min-width: 210px;
    height:30px;
}
#charName{
    width: 100%;
    border-radius: 5px;
    height:30px;
}
#stat-selection{
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
}
#stat-area{
    flex-direction: column;
    background-color: var(--main-color);
    margin:2px;
}
.stat-row{
    display: flex;
    flex-direction: row;
    /* width:200px; */
    height:40px;
    background-color: var(--sub-color);
    margin: 5px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.stat-selector{
    display: flex;
    background-color: var(--main-color);
    height:30px;
    border-radius: 5px;
    padding:2px;
}
.point-buy{
    display: flex;
    background-color: var(--main-color);
    height:30px;
    border-radius: 5px;
    padding:2px;
}
.stat-display{
    display: flex;
    background-color: var(--main-color);
    height:30px;
    border-radius: 5px;
    padding:2px;
}
.incrementer, .decrementer{
    width:20px;
    height:20px;
    margin: auto;
}
.stat-row p{
    background-color:var(--accent-color);
    width:20px;
    height:20px;
    margin:auto;
    border-radius: 5px;
}
#con-label{
    background-color: rgb(253, 129, 129);
    width:80px;
}
#str-label{
    background-color: rgb(255, 208, 121);
    width:80px;
}
#dex-label{
    background-color: rgb(255, 255, 119);
    width:80px;
}
#wis-label{
    background-color: rgb(2, 199, 2);
    width:80px;
}
#int-label{
    background-color: rgb(108, 108, 252);
    width:80px;
}
#cha-label{
    background-color:rgb(250, 117, 250);
    width:80px;
}
.stat-select{
    width:50px;
}
.hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.show{
    position: 'static';
    opacity: 1;
    pointer-events: 'all';
}
#points{
    background-color:var(--accent-color);
    width:20px;
    height:20px;
    margin:auto;
    border-radius: 5px;
    text-align: center;
}
.stat-bonus-box{
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    height:30px;
    border-radius: 5px;
    padding:2px;
}
.stat-bonus-box p{
    background-color: var(--main-color);
    color:mintcream;
}
#export{
    background-color: var(--accent-color);
    width: 95%;
    height: 95%;
    margin:auto;
}