:root{
--main-color: #3c3836;
--sub-color: #786c68;
--accent-color: #69b395;
}
*{
    /* background-color: #292929; */
    
}
#playerTable{
    text-align: center;
    padding:5px;
}
body{
    background-color: var(--main-color);
    /* width:1000px; */
    /* border: dashed rgb(255, 255, 255) 3px; */
    padding:10px;
    margin: 10px;
    max-width: 1000px;
    margin:auto;
}
.container{
    background-color: var(--sub-color);
    /* width:950px; */
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
    height:500px;
}
.tabbed-content{
    background-color: var(--sub-color);
    /* border: dashed rgb(134, 110, 110) 3px; */
    padding: 10px;
    height:400px;
}
header{
    background-color: var(--sub-color);
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
}
footer{
    background-color: var(--sub-color);
    /* border: dashed red 3px; */
    padding:10px;
    margin:10px;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
.flex-item{
    display: flex;
    flex-direction: row;
    height:30px;
    align-items: center;
    text-align: center;
}
.flex-item p{
    background-color: antiquewhite;
    height:20px;
    width:20px;
    border-radius: 5px;
    text-align: center;
    
}
.menu{
    min-width: 200px;
    height:30px;
}
#charName{
    min-width: 400px;
    border-radius: 5px;
    height:30px;
}